<div *ngFor="let verbals of verbalCompletedQCs; let i = index">
  <mat-card>
    <mat-card-title>{{verbals.user}}</mat-card-title>
    <mat-card-subtitle>{{verbals.score}}</mat-card-subtitle>
    <mat-card-content style="color: red;">{{verbals.state}}</mat-card-content>
    <mat-card-content>{{verbals.exam.name}}</mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onPass(verbals, i)">Pass/Go</button>
      <button mat-raised-button color="warn" (click)="onFail(verbals, i)">Fail/No-Go</button>
    </mat-card-actions>
  </mat-card>
</div>