mat-card{
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

mat-card-actions{
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}


.pass{
  color:black;
  background-color: rgb(5, 255, 46);
}

.pass:hover{
  box-shadow: rgb(124, 124, 124) 0px 0px 10px;
  background-color: rgb(5, 255, 46);
  border: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  transform: scale(1.1);
}

.fail{
  color:white;
  background-color: rgb(209, 0, 0);
}

.fail:hover{
  box-shadow: rgb(124, 124, 124) 0px 0px 10px;
  background-color: rgb(209, 0, 0);
  border: solid;
  border-width: 1px;
  border-color: black;
  color: white;
  transform: scale(1.1);
}
