.excelButton {
    background-color: #00aa2b;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    margin-left: 5rem;
    cursor: pointer;
}

.excelButton:hover {
    background-color: #00aa2b;
    color: white;
    box-shadow: grey 0px 0px 10px;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    margin-left: 5rem;
    cursor: pointer;
    transform: scale(1.1);
}

.loadDPE{
    background-color: #004aaa;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    border: solid;
    margin-left: 1rem;
    cursor: pointer;
}

.loadDPE:hover{
    background-color: #004aaa;
    color: white;
    box-shadow: grey 0px 0px 10px;
    border-radius: 10px;
    padding: 5px 10px;
    border: solid;
    margin-left: 1rem;
    cursor: pointer;
    transform: scale(1.1);
}

.table-container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.table{
    margin-top: 2rem;
    width: 90vw;
    border-radius: 20px;
    box-shadow: rgba(21, 86, 101, 0.582) 0px 10px 30px 0px;
}