.excelButton{
    background-color: #00aa2b;
    color: white;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    margin-left: 5rem;
    cursor: pointer;
}

.excelButton:hover{
    background-color: #00aa2b;
    color: white;
    box-shadow: grey 0px 0px 10px;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    margin-left: 5rem;
    cursor: pointer;
    transform: scale(1.1);

}