<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Ready to start?</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Exams</mat-label>
        <mat-select ngModel name="exam" placeholder="Chose your exam" required>
          <mat-option *ngFor="let exams of availableExercises" [value]="exams.id">
           {{ exams.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <input type="text" name="name" ngModel placeholder="Rank/ Last, First" required>
      <button type="submit" mat-raised-button  [disabled]="f.invalid" >Start</button>
    </mat-card-actions>
  </mat-card>
</form>
</section>