.new-training{
  padding: 30px;
  margin-top: 3rem;
}

mat-card{
  border: solid;
  border-width: 1px;
  border-color: rgb(190, 202, 252);
}

form{
  border-radius: 20px;
  box-shadow: rgb(190, 202, 252) 2px 2px 90px 2px;
}