<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <!-- <h1>{{ progress }}%</h1> -->
  <p>{{ exam?.name }} QC</p>
  <p>You have {{ exam?.duration }}min to complete the QC</p>
  <p>You have {{ exam?.questions }} questions in total</p>
  <section fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="onStart()">Start</button>
    <button mat-raised-button color="primary" (click)="onStop()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onDone()">Done</button>
  </section>
</section>