<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="determinate" [value]="progress" class="spinner"></mat-progress-spinner>
  <!-- <h1>{{ progress }}%</h1> -->
  <p>Keep going idiot</p>
  <section fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="onStart()">Start</button>
    <button mat-raised-button color="primary" (click)="onStop()">Stop</button>
    <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
  </section>
</section>