<mat-drawer-container class="options-container">
  <mat-drawer mode="side" opened fxHide>Drawer content</mat-drawer>
  <mat-drawer-content>
    <div class="header">
      <h2>Edit</h2>
    </div>
    <hr>
    <form class="form" [formGroup]="edit" >
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Members name</mat-label>
        <input type="text" matInput formControlName="name" (keydown)="setValues($event.target.value, edit.value.name)">
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label> Members flight</mat-label>
        <input type="text" matInput formControlName="flight" (keydown)="setValues($event.target.value, edit.value.flight)">
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Type of Eval</mat-label>
        <input type="text" matInput formControlName="eval" (keydown)="setValues($event.target.value, edit.value.eval)">
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Rating</mat-label>
        <input type="text" matInput formControlName="rating" (keydown)="setValues($event.target.value, edit.value.rating)">
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label> Section to add in the questions missed</mat-label>
        <textarea type="text" matInput formControlName="missed" (keydown)="setValues($event.target.value, edit.value.missed)"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Shoot dont Shoot</mat-label>
        <textarea type="text" matInput formControlName="shoot" (keydown)="setValues($event.target.value, edit.value.shoot)"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Practicals completed</mat-label>
        <textarea type="text" matInput formControlName="practical" (keydown)="setValues($event.target.value, edit.value.practical)"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Synopsis</mat-label>
        <textarea type="text" matInput formControlName="synopsis" (keydown)="setValues($event.target.value, edit.value.synopsis)"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Signature</mat-label>
        <input type="text" matInput formControlName="signature" (keydown)="setValues($event.target.value, edit.value.signature)">
      </mat-form-field>
    </form>
  </mat-drawer-content>
</mat-drawer-container>
