mat-toolbar{
  background-color: #155665;
  color: white;
}

a{
  text-decoration: none;
  color: #fff;
}

.logout{
  cursor: pointer;
}

a:hover, a:active{
  color: #78d0e3;
}

.nav-items{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: small;
}

.nav-caption{
  display: inline-block;
  padding-left:15px;
}

button{
  margin-left: -15px;
}

.link-box{
  margin-left: 10rem; 
  font-size: medium;
  list-style: none;
}

.activeLink{
  color: #78d0e3;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid;
}