a{
  text-decoration: none;
  color: #fff;
  /* padding: 10px */
}

.logout{
  cursor: pointer;
}

a:hover, a:active{
  color: lightgrey;
}

.nav-items{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: small;
}

.nav-caption{
  display: inline-block;
  padding-left:15px;
}

button{
  margin-left: -15px;
}

.link-box{
  margin-left: 37rem;
  font-size: medium;
  list-style: none;
}

.activeLink{
  color: rgb(255, 0, 179);
  padding: 5px 15px;
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  border: solid;
  
}