<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Stan Eval | Welcome: {{ userEmail }}</a></div>
  <div fxFlex fxLayout fxLayoutAlign="center center" fxHide.xs >
    <ul fxLayout fxLayoutGap="25px" class="link-box">
      <li><a routerLink="/new-training" routerLinkActive="activeLink">New QC</a></li>
      <li><a routerLink="/practical" routerLinkActive="activeLink" [matBadge]="alertInfo" matBadgeOverlap="false">Need Practical</a></li>
      <li><a routerLink="/past" routerLinkActive="activeLink">Past</a></li>
      <li><a routerLink="/edit-exams" routerLinkActive="activeLink">Edit Exams</a></li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/register">Register</a></li>
      <li *ngIf="isAuth"><a class="logout" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
