mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav{
  width: 200px;
}

a{
  text-decoration: none;
  color: #fff;
  /* padding: 10px */
}

*{
  background-color: #F7F7F2;
}
