mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav{
  width: 200px;
}

a{
  text-decoration: none;
  color: #fff;
  /* padding: 10px */
}

a:hover{
  color: lightgrey;
}

.nav-items{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: small;
}