<h2 mat-dialog-title>Edit Question</h2>
<form (submit)="submitEditedQuestion()" [formGroup]="editForm">
  <mat-form-field class="question">
    <mat-label>Question</mat-label>
    <textarea matInput type="text" formControlName="question"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ref</mat-label>
    <textarea matInput type="text" formControlName="ref">
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Answer</mat-label>
    <textarea matInput type="text" formControlName="answer"></textarea>
  </mat-form-field>
  <div mat-dialog-actions fxLayoutAlign="center">
    <button mat-raised-button type="submit" color="primary">Make the change</button>
  </div>
</form>