.markdown-form{
  display: flex;
}

.flex-container{
  display: flex;
}

.sidebar{
  width: 20%;
}

.markdown{
  width: 80%;
  padding: 10px;
}

.options-container {
  width: 300px;
  height: 100vh;
  margin: 0px;
  border: 1px solid #555;
  box-shadow: 0px 0px 110px #555;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  padding: 10px;
}

.full-width {
  width: 100%;
}

hr {
  width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

h2{
  font-style: italic;
}
