.markdown-form {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.sidebar {
  min-width: 20%;
}

.markdown {
  min-width: 80%;
  margin-top: 3rem
}

.options-container {
  width: 100%;
  height: 100vh;
  margin: 0px;
  border: 1px solid #555;
  box-shadow: 0px 0px 110px #555;
}

.form {
  width: 90%;
  padding: 10px;
}

.full-width {
  width: 100%;
}

hr {
  width: 30%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

h2 {
  font-style: italic;
}

output {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

p {
  max-width: fit-content;
  font-size: small;
}


.title{
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.name{
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.eval-title{
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 8rem
}

.eval-table{
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.bulk-form{
  margin-left: 8rem
}

.signature-block{
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 8rem;
}

.score{
  margin-top: 1rem;
}

.perf{
  margin-top: 1rem;
}

.loadPDF{
  background-color: #aa0000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid;
  margin-left: 1rem;
  cursor: pointer;
}

.loadPDF:hover{
  background-color: #aa0000;
  color: white;
  box-shadow: grey 0px 0px 10px;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid;
  margin-left: 1rem;
  cursor: pointer;
  transform: scale(1.1);
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}