<div class="flex-container">
  <div class="sidebar">
    <mat-drawer-container class="options-container">
      <mat-drawer mode="side" opened fxHide>Drawer content</mat-drawer>
      <mat-drawer-content>
        <div class="header">
          <h2>Edit</h2>
        </div>
        <hr>
        <form class="form" [formGroup]="editForm">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label> Members flight</mat-label>
            <input type="text" matInput formControlName="flight"
              (keydown)="setValues($event.target.value, editForm.value.flight)">
          </mat-form-field>
          <hr>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Rating</mat-label>
            <input type="text" matInput formControlName="rating"
              (keydown)="setValues($event.target.value, editForm.value.rating)">
          </mat-form-field>
          <hr>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Shoot dont Shoot</mat-label>
            <textarea type="text" matInput formControlName="shoot"
              (keydown)="setValues($event.target.value, editForm.value.shoot)"></textarea>
          </mat-form-field>
          <hr>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Practicals completed</mat-label>
            <textarea type="text" matInput formControlName="practical"
              (keydown)="setValues($event.target.value, editForm.value.practical)"></textarea>
          </mat-form-field>
          <hr>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Synopsis</mat-label>
            <textarea type="text" matInput formControlName="synopsis"
              (keydown)="setValues($event.target.value, editForm.value.synopsis)"></textarea>
          </mat-form-field>
          <hr>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Signature</mat-label>
            <input type="text" matInput formControlName="signature"
              (keydown)="setValues($event.target.value, editForm.value.signature)">
          </mat-form-field>
          <hr>
          <div class="button-container">
            <button (click)="SavePDF()" class="loadPDF">Export to PDF</button>
          </div>
        </form>
      </mat-drawer-content>
    </mat-drawer-container>

  </div>

  <div class="markdown">
    <div class="markdown-form" id="content">
      <div markdown ngPreserveWhitespaces class="title">
        **45th SECURITY FORCES SQUADRON**
      </div>
      <div markdown ngPreserveWhitespaces class="title">
        **STAN EVAL REPORT**
      </div>
      <div markdown ngPreserveWhitespaces class="name">
        **{{loadedDPE.member}}**
      </div>
      <output class="name">{{editForm.value.flight}}</output>
      <br>
      <div markdown ngPreserveWhitespaces class="eval-title">
        **EVALUATION DATA:**
      </div>
      <div markdown ngPreserveWhitespaces class="eval-table">
        |*Position Evaluated*|- *Type of Eval*|- *Evaluation Date*|- *Anniversary Date*|
        | :-: | :-: | :-: | :-: |
        |**{{loadedMD.exam.exam.name}}**|**Initial**|**{{loadedMD.date | date}}** |**N/A**|
        |||||
        |*Written*|*Verbal*|*Performance*|*Score*|
        |**N/A** |` `**{{loadedMD.score}}%** |**{{loadedMD.state}}** |` `**{{loadedMD.score}}%** |
      </div>
      <br>
      <div class="bulk-form">
        <output class="rating">Rating: {{editForm.value.rating}}</output>
        <br>
        <div markdown ngPreserveWhitespaces class="score">
          **Verbal: {{loadedMD.score}}%**
        </div>
        <br>
        <output>Missed Question References:</output>
        <p *ngFor="let wrong of loadedMD.exam?.wrongAnswers">-{{ wrong.ref}}</p>
        <p *ngIf="loadedMD.exam?.wrongAnswers === undefined">- Nothing Missed, Excellent Work!</p>
        <br>
        <output>Shoot/Don't Shoot: {{editForm.value.shoot}}</output>
        <br>
        <div markdown ngPreserveWhitespaces class="perf">
          **Performance: {{loadedMD.state}}**
        </div>
        <br>
        <output>Practicals:</output>
        <p>{{editForm.value.practical }}</p>
        <br>
        <output>Synopsis:</output>
        <p>{{editForm.value.synopsis}}</p>
        <br>
      </div>
      <div class="signature-block">
        ///ORGINAL SIGNED/// <br>
        {{ editForm.value.signature }} <br>
        Standardization & Evaluations
      </div>
    </div>
  </div>
</div>