<div class="markdown-form" >
  <div markdown ngPreserveWhitespaces>
    **45th SECURITY FORCES SQUADRON**

    **STAN EVAL REPORT**

    **SSgt {{ loadedMD.member }}**

    **Alpha 1**

    **EVALUATION DATA:**

    |*Position Evaluated* |*Type of Eval* |*Evaluation Date* |*Anniversary Date* |
    | :-: | :-: | :-: | :-: |
    |**{{loadedMD.exam.exam.name}}**|**Initial**|**{{loadedMD.date | date}}** |**N/A**|
    |||||
    |*Written*|*Verbal*|*Performance*|*Score*|
    |**N/A** |` `**{{loadedMD.score}}%** |**{{loadedMD.state}}** |` `**{{loadedMD.score}}%** |

    **RATING: Qualified**

    **Verbal: {{loadedMD.score}}%**

    \- Explain Restricted/Controlled Area Designators

    **Shoot/Don't Shoot: N/A**

    **Performance: {{loadedMD.state}}**

    **-Gate Runner AF Form 689 #37**

    **-Challenge/Identify/Apprehend Intruders AF Form 689 #7**
    **


    **Synopsis**: MSgt Veon/V1 conducted practical evaluation which included Gate Runner (Entry Controller Actions) and
    Challenge/Identify/Apprehend Intruders (Vehicle Challenge). All objectives of this scenario were met and A1C
    Winkelhake located the hidden “weapon” during the search. Minor discrepancies noted and discussed upon termination
    of
    exercise.



    <div class="signature-block">
      ///ORGINAL SIGNED/// <br>
      DWIGHT T. VEON, MSgt, USAF <br>
      Section Chief, Standardization & Evaluations
    </div>
  </div>

</div>