.welcome{
  text-align: center;
  margin-top: 3rem;
}

.banner{
 display:flex;
 justify-content: center;
 align-items: center;
 /* max-width: 80vw; */
}

h1{
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
}

