<h2 mat-dialog-title>Add Question</h2>
<form (submit)="addQuestion()" [formGroup]="addForm">
  <mat-form-field class="question">
    <mat-label>Question</mat-label>
    <textarea matInput type="text" formControlName="question"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ref</mat-label>
    <textarea matInput type="text" formControlName="ref">
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Answer</mat-label>
    <textarea matInput type="text" formControlName="answer"></textarea>
  </mat-form-field>
  <div mat-dialog-actions fxLayoutAlign="center">
    <button mat-raised-button type="submit" [mat-dialog-close]="true" color="primary">Add Question</button>
    <button mat-raised-button type="button" [mat-dialog-close]="true" color="warn">Cancel</button>
  </div>
</form>